*{
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

  body {
    font-family: 'Inter', sans-serif;
  }

  @media (max-width: 500px) {
    label {
    cursor: pointer;
    padding: 2px;
    border: solid;
    width: 175px;
    margin-bottom: 2%;
    text-align: center;
    }
    input.filtro-avanzado {
        position: absolute;
        left: -9999px;
      }
      .checkboxes{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    input:checked + label {
        background-color: blue;
    }
    .inputyBoton{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 3%;
    }
    input#buscar{
      width: 41%;
    }
    .ancho{
      width: 41%;
    }
    .desplegables{
      margin-left: 6%;
      width: 41%;
    }
    .boton-busqueda{
      display: flex;
      justify-content: center;
      margin-top: 5%;
    }

    /* img.logo-ods {
      width: 20px;
      height: 20px;
    }  */
  
    .botonLeerMas{
      /* all: unset;  */
      background-color:white;
      border: rgb(0, 0, 0) 1px solid;
      border-radius: 10px;
      font-family: 'Inter', sans-serif;
      font-weight:200;
      font-size:12px;
      padding:10px;
      margin-top:5px;
      margin-bottom:5px;
      transition: all 0.25s ease;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .botonLeerMas:hover{
      background:#c4d4e9;
      cursor:pointer;
    }

  }
    

  
    