*{
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

  body {
    font-family: 'Inter', sans-serif;
  }


  .botonBuscarBuscador{
    /* all: unset;  */
    background-color:#F4DBB3;
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 45px;
    font-family: 'Inter';
    font-weight:600;
    font-size:20px;
    padding:16px;
    margin-top:35px;
    margin-bottom:50px;
    transition: all 0.25s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
  }

  .botonBuscarBuscador:hover{
    background:#c4d4e9;
    cursor:pointer;
  }


  .blobBuscador{
    position: absolute;
    top: -167px;
    left: 326px;
    fill: #023F92;
    width: 68vmax;
    z-index: -1;
    /* animation: move 10s ease-in-out infinite; */
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  /* @keyframes move {
    0%   { transform: scale(1)   translate(1px, 1px); }
    38%  { transform: scale(0.8, 1) translate(1vw, 1vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(1vw, 1vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(1vw, 1vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(1vw, 1vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(1px, 1px); }
  } */



  .mainBuscador{
    margin-top:300px;
  }

  label {
    cursor: pointer;
    padding-top:4px;
    padding-bottom:4px;
    border: 1px dashed;
    width: 175px;
    margin-bottom: 2%;
    text-align: center;
    border-radius:15px;
    font-weight:300;
    }

    label:hover{
      border:1px solid #F4DBB3;
      color: #F4DBB3;
    }

    input.filtro-avanzado {
        position: absolute;
        left: -9999px;
      }
      .checkboxes{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
      
    }

    .checkboxes label {
      width:16%;
  
    }

    input:checked + label {
        background-color: #ffffff;
        color:#0F4C81;
    }
    
    .inputyBoton{
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    input#buscar{
      width: 195px;
      -webkit-appearance: none;
      background-color:white;
      border:none;
      padding:5px;
      border-radius:15px;
      color:#0F4C81;
      font-weight:200;
      font-size:17px;
    }

    .ancho{
      cursor:pointer;
      width: 195px;
      -webkit-appearance: none;
      background-color:#F4DBB3;
      border:none;
      padding:5px;
      border-radius:15px;
      padding:5px;
      font-weight:200;
      margin-left:10%;
      font-size:15px;
    }

    .desplegables{
      display:flex;
      margin: auto;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      
      outline: 0; 
      background-color:white;
      font-size: 1em;
      color: black;
      font-family: 'Inter', sans-serif;
      font-weight:200;
      border:3px solid  #F4DBB3;
      border-radius: 15px;
      position: relative;
      transition: all 0.25s ease;
      text-align:center;
      width:15%;
      padding-left:0px;
      font-size:13px;
    }

    .desplegables:hover{
      background:#f7edde;
      }

    #botonBusq{
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    
      display: inline-block;
      cursor: pointer;
      padding: 10px 10px ;
      outline: 0; 
      background-color:#F4DBB3;
      font-size: 1em;
      color: black;
      font-family: 'Inter', sans-serif;
      font-weight:200;
      border:1px solid rgba(0,0,0,0.2);
      border-radius: 15px;
      position: relative;
      transition: all 0.25s ease;
      text-align:center;
    }

    .boton-busqueda{
      display: flex;
      justify-content: center;
      margin-top: 2%;
    }

     /* img.logo-ods {
      width: 20px;
      height: 20px;
    }  */
  
    .botonLeerMas{
     
      color:#0F4C81;
      background-color:white;
      border:#0F4C81 1px solid;
      border-radius: 10px;
      font-family: 'Inter', sans-serif;
      font-weight:200;
      font-size:12px;
      padding:10px;
      margin-top:5px;
      margin-bottom:5px;
      transition: all 0.25s ease;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .botonLeerMas:hover{
      background:#c4d4e9;
      cursor:pointer;
    }

    .numResultados{
      margin-top:75px;
      text-align:center;
    }

    /* .contenidoFichas{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    } */

    .botonPasarPagina{
      width:100px;
    }

    .contenedorIrAWeb{
      display:flex;
      justify-content:left;
      padding-bottom:15px;
      padding-top:10px;
    }

    .irASitioWeb{
      font-weight:bold;
      text-transform: uppercase;
      color:#0F4C81;
    }

    .irASitioWeb:hover{
      font-weight:bold;
    }

    .contenidoTarjeta{
      margin-bottom:-5px;
    }

    .titularNegrita{
      font-weight:600;
      margin-bottom:-5px;
    }

    .dibujosLogos{
      margin-top:5px;
      margin-bottom:10px;

    }
    .tematicas{
      margin-top:10px;
    }

    .organizacion{
      font-weight:500;
      margin-top:-10px;
    }


  @media (max-width: 500px) {
    label {
    cursor: pointer;
    padding-top:4px;
    padding-bottom:4px;
    border: 1px dashed;
    width: 175px;
    margin-bottom: 2%;
    text-align: center;
    border-radius:15px;
    font-weight:300;
    }

    .mainBuscador{
      margin-top:0px;
    }
  

    label:hover{
      border:1px solid #F4DBB3;
      color: #F4DBB3;
    }

    input.filtro-avanzado {
        position: absolute;
        left: -9999px;
      }
      .checkboxes{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin:auto;
        margin-bottom:20px;
  
    }

    .checkboxes label {
      width: 40%;
    
    }

    input:checked + label {
        background-color: white;
        color:#0F4C81;
    }
    
    .inputyBoton{
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      margin-bottom: 3%;
    }
    input#buscar{
      width: 195px;
      -webkit-appearance: none;
      background-color:white;
      border:none;
      padding:13px;
      border-radius:21px;
      color:#0F4C81;
      font-weight:500;
      font-size:16px;
    }

    .ancho{
      cursor:pointer;
      width: 195px;
      -webkit-appearance: none;
      background-color:#F4DBB3;
      border:none;
      padding:5px;
      border-radius:40px;
      padding:5px;
      font-weight:200;
      margin-left:10%;
    }

    .desplegables{
      margin:auto;
      
      width: 35%;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    
      display: flex;
      cursor: pointer;
      padding-left:0;
      outline: 0; 
      background-color:white;
      font-size: 1em;
      color: black;
      font-family: 'Inter', sans-serif;
      font-weight:200;
      border:3px solid  #F4DBB3;
      border-radius: 15px;
      position: relative;
      transition: all 0.25s ease;
      text-align:center;
      font-size:13px;
    }

    .desplegables:hover{
      background:#F4DBB3;
      }

    #botonBusq{
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    
      display: inline-block;
      cursor: pointer;
      padding: 10px 10px ;
      outline: 0; 
      background-color:#F4DBB3;
      font-size: 1em;
      color: black;
      font-family: 'Inter', sans-serif;
      font-weight:200;
      border:1px solid rgba(0,0,0,0.2);
      border-radius: 15px;
      position: relative;
      transition: all 0.25s ease;
      text-align:center;
    }

    .boton-busqueda{
      display: flex;
      justify-content: center;
      margin-top: 5%;
    }
  
    .botonLeerMas{
     
      color:#0F4C81;
      background-color:white;
      border:#0F4C81 1px solid;
      border-radius: 10px;
      font-family: 'Inter', sans-serif;
      font-weight:200;
      font-size:12px;
      padding:10px;
      margin-top:5px;
      margin-bottom:5px;
      transition: all 0.25s ease;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .botonLeerMas:hover{
      background:#c4d4e9;
      cursor:pointer;
    }

    .numResultados{
      margin-top:35px;
      text-align:center;
    }

    /* .contenidoFichas{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    } */

    .botonPasarPagina{
      width:100px;
    }

    .contenedorIrAWeb{
      display:flex;
      justify-content:left;
      padding-bottom:15px;
      padding-top:10px;
    }

    .irASitioWeb{
      font-weight:bold;
      text-transform: uppercase;
      color:#FFBB00;
    }

    .irASitioWeb:hover{
      font-weight:bold;
    }

    .contenidoTarjeta{
      margin-bottom:-5px;
    }

    .titularNegrita{
      font-weight:600;
      margin-bottom:-5px;
    }

    .dibujosLogos{
      margin-top:5px;
      margin-bottom:10px;

    }
    .tematicas{
      margin-top:10px;
    }

    .organizacion{
      font-weight:500;
      margin-top:-10px;
    }
   
  }
    

  
    