*{
    box-sizing: border-box;
  }


  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
  
  body {
    font-family: 'Inter', sans-serif;
  }


  .cajaDonut{
    margin-top:40px;
    display:flex;
    flex-direction:row; 
 }
 .donut{
     width:100%;
     height: 100%;
 }

 canvas{
     width: 500px !important;
     height: 250px !important;
 }


.afinidadTest{
 font-size:15px;
 margin:5px;
 margin-left:15px;
 padding:0;
 margin-bottom:10px;
}

.leyendaGrafica{
 display:flex;
 flex-direction:row;
 text-align:left;
 margin:auto;
 margin-top:63px;
}

.graficaYLeyenda{
 display:flex;
 flex-direction:row;
 justify-content:space-between;
 align-items:center;
 margin-top:0px;
 margin-bottom:40px;
}

.circulo{
 width:15px;
 height:15px;
 margin-top:8px;
 margin-bottom:6px;
}

.leyendaPuntos{
 display:flex;
 flex-direction:column;
 justify-content:start;
 align-items:center;
 
}


  @media (max-width: 500px) {
   
    .cajaDonut{
       margin-top:40px;
       display:flex;
       flex-direction:row; 
    }
    .donut{
        width:100%;
        height: 100%;
    }

    canvas{
        width: 500px !important;
        height: 250px !important;
    }

  .afinidadTest{
    font-size:12px;
    margin:5px;
    margin-left:15px;
    padding:0;
    margin-bottom:10px;
  }

  .leyendaGrafica{
    display:flex;
    flex-direction:row;
    text-align:left;
    margin:auto;
    margin-top:20px;
  }

  .graficaYLeyenda{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-top:20px;
    margin-bottom:20px;
  }

  .circulo{
    width:15px;
    height:15px;
    margin-top:8px;
    margin-bottom:2px;
  }

  .leyendaPuntos{
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    
  }

    }