*{
  box-sizing: border-box;
}
@media (max-width: 500px) {
  body{
    padding-top: 80px;
  }
  .fijar{
    position: fixed;
    width: 100%; 
	  left: 0;
    top: 0;
    background-color: white;
  }
  .language{
    display: flex;
    justify-content: right;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navegacion{
    display: flex;
  }
  .logo{
    width: 15%;
  }
  a{
    padding-right: 14px;
    text-decoration: none;
    color: black;
  }
  .test{
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: space-between;
  }
  .test-img{
    width: 100%;
  }
}
