*{
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
  
  body {
    font-family: 'Inter', sans-serif;
  }

  .provinciaDibujo{
    fill: white;
    stroke:#0F4C81;
  }

  .provinciaDibujo:hover{
    fill: #F4DBB3 !important;
    stroke:#0F4C81;
    cursor:pointer;
  }
  .descripcionBPaso1{
    display:flex;
    flex-direction:column;
    align-items:left;
    margin-left:230px;
    margin-top:20px;
    margin-bottom:50px;
    font-weight:200;
  }

  .parrafo{
    width:500px;
  }

  .plano{
    width:850px;
  }

  .centrar{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:-140px;
  }

  .botonBuscarMapa{
    /* all: unset;  */
    background-color:white;
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 45px;
    font-family: 'Inter';
    font-weight:600;
    font-size:18px;
    padding:20px;
    margin-top:5px;
    margin-bottom:40px;
    transition: all 0.25s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
    color:black;
  }


  .botonBuscarMapa:hover{
    background:#c4d4e9;
    cursor:pointer;
  }


  @media (max-width: 500px) {
    body {
        padding-top: 0px;
      }
    .provincias{
        width:100%;
        height:100%;
        margin-left:-30px;
        margin-top:100px;
    }
    .svgMapa{
      width:100%;
      height:100%;
      margin-left:-30px;
      margin-bottom:0;
    }

    .descripcionBPaso1{
      display:flex;
      flex-direction:column;
      align-items:center;
      margin-left:40px;
      margin-top:-30px;
      margin-bottom:0px;
    }

    .parrafo{
      width:370px;
    }

    .centrar{
      display:flex;
      flex-direction:row;
      justify-content:center;
      margin-top:-80px;
    }

    .plano{
      width:100%;
    }

    .planoYFrase{
      display:flex;
      flex-direction:column;
    }

    .botonBuscarMapa{
      /* all: unset;  */
      background-color:white;
      border: rgb(255, 255, 255) 1px solid;
      border-radius: 45px;
      font-family: 'Inter';
      font-weight:600;
      font-size:14px;
      padding:15px;
      margin-top:0px;
      margin-bottom:40px;
      transition: all 0.25s ease;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
      z-index: 3;
    }
  
  
    .botonBuscarMapa:hover{
      background:#c4d4e9;
      cursor:pointer;
    }

  }