*{
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
  
  body {
    font-family: 'Inter', sans-serif;
  }

  @media (max-width: 500px) {
    body {
        padding-top: 80px;
      }
    p{
        margin-top:10px;
        font-weight:300;
    }
    .resultadoActividades{
      margin-top:5%;
      margin-left:5%;
      margin-right:5%;
      border: 1px rgb(255, 255, 255);
      padding:15px;
      border-radius: 30px 30px 30px 30px;
      -moz-border-radius: 30px 30px 30px 30px;
      -webkit-border-radius: 30px 30px 30px 30px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
      text-align:justify;
    }

    .descripcionBoton{
      display: flex;
      flex-direction:row;
      justify-content:space-between;
      align-items:center;
    }

    .botonesAtrasSiguiente{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
    }

    .paginaActual{
      font-size:13px;
      margin-bottom: 10px;
    }

    }