*{
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
  
  body {
    font-family: 'Inter', sans-serif;
    text-align:left;
  }


  p{
    margin-top:10px;
    font-weight:300;
}

.totalActividades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:baseline;
  width:100%;
}

.resultadoActividades{
  color:#0F4C81;
  margin-top:5%;
  margin-left: 2%;
  margin-right:2%;
  padding:33px;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
  border:1px;
  background-color:white;
  width: 490px;
}

.descripcionBoton{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.botonesAtrasSiguiente{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.botonPasarPagina{
  width:100px;
}

.paginaActual{
  font-size:13px;
  margin-bottom: 10px;
  text-align:center;
}

h3{
  font-weight: bold;
  font-size:22px;
  margin-bottom:20px; ;
}

#loading{
  margin-top:25px;
  width:60px;
  height:60px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
  

  .titularPagina{
    font-weight:bold;
    margin-bottom:30px;
    margin-top:0px;
    font-size:30px;
    margin-bottom:20px;
  }

  .textos{
    margin-top:80px;
    margin-left:35%;
    margin-right:35%;
    margin-bottom:15px;
    display:flex;
    flex-direction:column;
    justify-content:left;
    justify-content:left;
  }

  .textos2{
    margin-top:20px;
    margin-left:39%;
    margin-right:39%;
    margin-bottom:15px;
    display:flex;
    flex-direction:column;
    justify-content:left;
    justify-content:left;
  }

  .ofertasProvincia{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .logo-ods-round{
    width: 65px;
    height: 65px;
    margin-right:10px;
    margin-top:15px;
    border-radius:50%;
  }

  .blobResultados {
    position: absolute;
    top: -180px;
    left: 240px;
    fill: #023F92;
    width: 71vmax;
    z-index: -1;
    animation: moveSmall 10s ease-in-out infinite;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  @keyframes moveSmall {
    0%   { transform: scale(1)   translate(60px, 30px); }
    38%  { transform: scale(0.9) translate(3vw, 50px) rotate(50deg); }
    40%  { transform: scale(0.9) translate(3vw, 50px) rotate(50deg); }
    78%  { transform: scale(0.9) translate(6vw, 50px) rotate(-20deg); }
    80%  { transform: scale(0.9) translate(6vw, 50px) rotate(-20deg); }
    100% { transform: scale(1)   translate(60px, 30px); }
  }

  .textoIrABuscador{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:120px;
    margin:auto;
  }

  .buscadorConvencionalLp2{
    color:rgb(218, 218, 218);
    background-color:#0F4C81;
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 45px;
    font-family: 'Inter';
    font-weight:400;
    font-size:15px;
    padding:10px;
    margin-top:5px;
    margin-bottom:40px;
    transition: all 0.25s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
  }

  .buscadorConvencionalLp2:hover{
    cursor:pointer;
  }




  @media (max-width: 500px) {
  
    p{
        margin-top:10px;
        font-weight:300;
    }
    .resultadoActividades{
      color:#0F4C81;
      margin-top:9%;
      margin-left:9%;
      margin-right:9%;
      padding:8%;
      border-radius: 30px 30px 30px 30px;
      -moz-border-radius: 30px 30px 30px 30px;
      -webkit-border-radius: 30px 30px 30px 30px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
      border:1px;
      background-color:white;
      width: 90%;
    }

    .descripcionBoton{
      display: flex;
      flex-direction:row;
      justify-content:space-between;
      align-items:center;
    }

    .botonesAtrasSiguiente{
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-items:center;
    }

    .botonPasarPagina{
      width:100px;
    }

    .paginaActual{
      font-size:13px;
      margin-bottom: 10px;
      text-align:center;
    }

    h3{
      font-weight: bold;
      font-size:22px;
      margin-bottom:20px; ;
    }

    #loading{
      margin-top:25px;
      width:60px;
      height:60px;
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-items:center;
    }

    .titularPagina{
      font-weight:bold;
      margin-top:-50px;
      font-size:22px;
      margin-bottom:-20px;
    }

    .textos{
      margin-top:0px;
      margin-left:8%;
      margin-right:8%;
      margin-bottom:15px;
    }

    .textos2{
      margin-top:0px;
      margin-left:8%;
      margin-right:8%;
      margin-bottom:15px;
    }

    .ofertasProvincia{
      margin-top:20px;
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    }

    .logo-ods-round{
      width: 65px;
      height: 65px;
      margin-right:10px;
      margin-top:15px;
      border-radius:50%;
    }

    }