*{
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
  
  body {
    font-family: 'Inter', sans-serif;
    text-align:left;
  }


  p{
    margin-top:10px;
    font-weight:300;
}

.totalActividades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:baseline;
  width:100%;
}

.resultadoActividades{
  color:#0F4C81;
  margin-top:5%;
  margin-left: 2%;
  margin-right:2%;
  padding:33px;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
  border:1px;
  background-color:white;
  width: 490px;
}

.descripcionBoton{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.botonesAtrasSiguiente{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.botonPasarPagina{
  width:100px;
}

.paginaActual{
  font-size:13px;
  margin-bottom: 10px;
  text-align:center;
}

h3{
  font-weight: bold;
  font-size:22px;
  margin-bottom:20px; ;
}

#loading{
  margin-top:25px;
  width:60px;
  height:60px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
  

  .titularPagina{
    font-weight:bold;
    margin-bottom:30px;
    margin-top:0px;
    font-size:22px;
    margin-bottom:20px;
  }

  .textos{
    margin-left:35%;
    margin-right:35%;
    margin-bottom:15px;
    display:flex;
    flex-direction:column;
    justify-content:left;
    justify-content:left;
  }

  .ofertasProvincia{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .logo-ods-round{
    width: 65px;
    height: 65px;
    margin-right:10px;
    margin-top:15px;
    border-radius:50%;
  }




  @media (max-width: 500px) {
  
    p{
        margin-top:10px;
        font-weight:300;
    }
    .resultadoActividades{
      color:#0F4C81;
      margin-top:9%;
      margin-left:9%;
      margin-right:9%;
      padding:8%;
      border-radius: 30px 30px 30px 30px;
      -moz-border-radius: 30px 30px 30px 30px;
      -webkit-border-radius: 30px 30px 30px 30px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
      border:1px;
      background-color:white;
      width: 90%;
    }

    .descripcionBoton{
      display: flex;
      flex-direction:row;
      justify-content:space-between;
      align-items:center;
    }

    .botonesAtrasSiguiente{
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-items:center;
    }

    .botonPasarPagina{
      width:100px;
    }

    .paginaActual{
      font-size:13px;
      margin-bottom: 10px;
      text-align:center;
    }

    h3{
      font-weight: bold;
      font-size:22px;
      margin-bottom:20px; ;
    }

    #loading{
      margin-top:25px;
      width:60px;
      height:60px;
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-items:center;
    }

    .titularPagina{
      font-weight:bold;
      margin-top:-50px;
      font-size:22px;
      margin-bottom:-20px;
    }

    .textos{
      margin-left:8%;
      margin-right:8%;
      margin-bottom:15px;
    }

    .ofertasProvincia{
      margin-top:20px;
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    }

    .logo-ods-round{
      width: 65px;
      height: 65px;
      margin-right:10px;
      margin-top:15px;
      border-radius:50%;
    }

    }