.doscolumnas{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}
.columna{
    margin: 0% 6% 6% 6%;
}
.titulos_{
    font-size: 42px;
    padding-left: 0;
}
.ancho-parrafo{
    width: 512px;
}